body{
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
.container{
  width: 300px;
  margin: auto;
}
#app h1{
  font-style: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}
#app li{
  line-height: 1.5;
}
#app input[type="text"]{
  padding: 2px;
}
#app ul{
  padding:0;
  list-style: none;
}
#app li > span.done{
  text-decoration: line-through;
  color: #bbb;
}
.command{
  cursor: pointer;
  font-size: 12px;
  color: #ee0000;
}
.info{
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}
#app h1 > button{
  float: right;
}
